.Button_default,
.Button_positive,
.Button_negative
{
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  font-size: 1.3rem;
  white-space: nowrap;
  font-family: 'Nanum Pen Script';
}
.Button_default {
  color: black;
  background: #ececec;
}
.Button_positive {
  color: #fff;
  background: #64c964;
}
.Button_negative {
  color: #fff;
  background: #fd564f;
}
