.Header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 400px;
  min-width: 320px;
  border-bottom: 1px solid #e2e2e2;
}
.Header > div {
  display: flex;
}
.Header .header_title {
  font-size: 1.3rem;
}
.Header .header_left {
}
.Header .header_right {
}
